@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* Base styles */

*{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}



@theme {
  --color-primary: #5044E5;
}
